html,
/* body,
.page-container {
    height: 100%;
} */

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 19px;
  font-weight: 300;
  color: white;
  line-height: 1.5;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  z-index: 999;
}

.fade-out {
  animation: fadeOut 3s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}


/* Estilos generales */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(#140803, #25160b);
  border: transparent;
}

/* Estilos para el pulgar del scrollbar */
::-webkit-scrollbar-thumb {
  background: linear-gradient(#b66d00, #3a2008);
  border-radius: 10px;
}

/* Estilos para el pulgar del scrollbar en estado hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#3a2008, #b66d00);
}

a {
  color: #fbff00;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover {
  color: #3cf;
}

p {
  line-height: 1.7;
}

br {
  margin-bottom: 0.5rem;
}

.highlight {
  color: #ff5715;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.container-fluid {
  max-width: 1860px;
}

.btn {
  font-size: 1.3rem;
  padding: 13px 23px;
  border-radius: 0;
}

.btn-primary {
  background-color: white;
  border: none;
  color: #333;
}

.btn-primary:hover,
.btn-primary:focus {
  color: #fbff00;
  background-color: white;
}

/* Style the video: 100% width and height to cover the entire window */
#bg-video {
  position: fixed;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -100;
  background-image: url(../img/tm-astro-bg.jpg);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

#tm-nav {
  z-index: 1000;
}

.navbar a {
  color: white;
}

.navbar-collapse {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.navbar .navbar-nav .nav-item {
  margin-left: 15px;
  margin-right: 15px;
}

/* .navbar .navbar-nav .nav-item .nav-link {
  padding: 15px 35px;
  border-bottom: 1px solid #ffad15;
} */

.nav-item {
  position: relative;
  font-size: 1.5vw;
}

.nav-link:hover {
  color:#fbff00
}

.img-home {
  width: 60%;
  height: auto;
}

.tm-border-bottom {
  border-bottom: 1px solid #ff5715;
  padding-bottom: 48px;
}

.tm-border-top {
  border-top: 1px solid #ff5715;
  padding-top: 48px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

/* .navbar .navbar-nav .nav-item.selected .nav-link,
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #fbff00;
  border-bottom: 1px solid #fbff00;
} */

/* .cd-slider-nav li.selected a + .circle,
.navbar .navbar-nav .nav-item .nav-link:hover + .circle {
  margin-top: 30px;
  background-color: #fbff00;
} */

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border: 1px solid rgba(255, 255, 255, 1);
}

.navbar-toggler:focus {
  box-shadow: none;
}

.tm-link-white {
  color: white;
}

.tm-link-white:hover,
.tm-link-white:focus {
  color: #fbff00;
}

.cd-hero-slider {
  padding: 10px 0;
}

.cd-hero-slider li {
  list-style: none;
}

li {
  list-style: none;
  /* Esto quitará los marcadores de las listas desordenadas */
}

.content-pad {
  padding: 40px 30px;
}

.page-width-1 {
  max-width: 810px;
}

.page-width-2 {
  max-width: 912px;
}

.page-left {
  margin-left: auto;
}

.page-right {
  margin-right: 100px;
  margin-left: auto;
}

/* h1 {
  font-size: 3.5vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  font-family: 'Reggae One', "cursive";
  color: black;
}

h1:hover {
  color: white;
} */

.logo{
  width: 250px;
  height: auto;
}

.telegram img {
  width: 3vw;
  height: auto;
  margin-right: 15px;
  margin-left: 20px;
}

.twitter img {
  width: 3vw;
  height: auto;
  margin-left: 50%;
}

.telegram img:hover {
  filter: drop-shadow(0px 0px 15px #fbff00);
}

.twitter img:hover {
  filter: drop-shadow(0px 0px 15px #fbff00);
}

.txt-1 {
  font-size: 2.5vw;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.home-pres {
  font-size: 2vw;
  font-weight: 900;
  margin-bottom: 0px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transform: skew(-8deg); /* Ajusta el ángulo según tus preferencias */
}

.mb-4 {
  font-size: 2vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.intro-container {
  display: flex;
  align-items: center;
  /* Centrar verticalmente */
  justify-content: space-between;
  /* Espacio entre la imagen y el texto */
}

.intro-left {
  margin-right: auto;
  margin-left: auto;
  padding: 30px 0px;
  max-width: 700px;
}

.intro-img-1 {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  /* Centrar la imagen horizontalmente */
  display: block;
  /* Para que la imagen no tenga márgenes no deseados */
}

.img-1 {
  margin: auto;
}

.tm-intro-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.tm-footer {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#countdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.countdown-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  padding-bottom: 25px;
}

.countdown-label {
  margin-bottom: 5px;
  font-weight: 900;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.countdown-field span {
  margin-top: 5px;
  font-size: 2.5vw;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Gallery page */
.gallery-container {
  max-width: 1600px;
}

/* .slick-dots {
  bottom: -80px;
} */

.gallery-slider figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0;
  max-width: 240px;
  margin-left: 10px;
  margin-right: 10px;
  height: auto;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.gallery-slider figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
}

/* .gallery-slider figure figcaption {
  padding: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
} */

.gallery-slider figure figcaption::before,
.gallery-slider figure figcaption::after {
  pointer-events: none;
}

.gallery-slider figure figcaption,
.gallery-slider figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.gallery-slider figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.gallery-slider figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  font-size: 28px;
}

.gallery-slider figure h2 span {
  font-weight: 800;
}

.gallery-slider figure h2,
.gallery-slider figure p {
  margin: 0;
}

.gallery-slider figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

.gallery-section {
  background-color: #99ccff;
}

.gallery-section .title {
  padding-right: 13px;
  margin-bottom: 80px;
}

/*---------------*/
/***** Roadmap *****/
/*---------------*/

/* figure.effect-vexar {
  background: #2f3238;
  position: relative;
}

figure.effect-vexar img {
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

figure.effect-vexar figcaption {
  display: flex;
  align-items: center;
}

figure.effect-vexar h2 {
  position: relative;
  padding: 0.5em 0;
} */

figure.effect-vexar p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  margin: 0;
  padding: 0.4em 1em;
  background: rgba(255, 255, 255, 0.9);
  color: #38332f;
  text-transform: none;
  font-weight: 500;
  font-size: 75%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%, 0, 0); /* Centramos horizontalmente */
  transform: translate3d(-50%, 0, 0); /* Centramos horizontalmente */
  opacity: 0; /* Inicialmente oculto */
}
/* figure.effect-vexar p:first-child {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

figure.effect-vexar p:nth-of-type(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

figure.effect-vexar p:nth-of-type(3) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

figure.effect-vexar:hover p:first-child {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

figure.effect-vexar:hover p:nth-of-type(2) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

figure.effect-vexar:hover p:nth-of-type(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
} */

/* figure.effect-vexar:hover img {
  opacity: 0.4;
  -webkit-transform: scale3d(1.1, 1.1, 1);
  transform: scale3d(1.1, 1.1, 1);
} */

figure.effect-vexar:hover p {
  opacity: 1; /* Mostrar el párrafo cuando se pasa el cursor por encima */
  -webkit-transform: translate(-50%, -50%); /* Centrar con respecto a la imagen */
  transform: translate(-50%, -50%); /* Centrar con respecto a la imagen */
}

/* .gallery-slider .slick-dots li.slick-active,
.gallery-slider .slick-dots li:hover {
  background-color: #3ccdff;
}

.gallery-slider .slick-dots li {
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin: 0 10px;
  transition: all 0.3s ease;
} */

.tokenomics-top {
  text-align: center;
  /* Centrar el contenido */
  margin-top: 20px;
  /* Márgenes superiores */
  margin-bottom: 80px;
}

/* Estilo para el contenedor principal */
.tokenomics-container {
  display: flex;
  /* Usar flexbox para alinear los elementos en una fila */
  justify-content: space-between;
  /* Distribuir los elementos horizontalmente */

  align-items: center;
  /* Alinear verticalmente al centro */
}

/* Estilo para cada bloque de texto */
.tokenomics-left,
.tokenomics-mid,
.tokenomics-right {
  width: 30%;
  /* Establecer el ancho deseado para cada bloque (ajusta según sea necesario) */
  padding: 20px;
  /* Agregar espaciado alrededor de los bloques */
  text-align: center;
  /* Alinear el texto al centro */
}

/* About page */
/* .tm-about-container {
    border-top: 1px solid white;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid white;
} */

/* Contact page */
/* .tm-contact-left {
    padding-right: 55px;
}

.form-control {
    font-size: 1.2rem;
    padding: 15px 0;
}

.form-control,
.form-control:focus {
    color: white;
    background-color: transparent;
}

.form-control:focus {
    border-bottom: 1px solid #99FF66;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

.form-control::-webkit-input-placeholder { color: white; }
.form-control:-moz-placeholder { color: white; }
.form-control::-moz-placeholder { color: white; }
.form-control:-ms-input-placeholder { color: white; }

.tm-mb-30 {
    margin-bottom: 30px;
}

.tm-mb-45 {
    margin-bottom: 45px;
}

.tm-btn-pad-2 {
    padding: 10px 38px;
}

.map-outer{
    position:relative;
}

.gmap-canvas {
    overflow:hidden;
    background:none!important;
}

.map-outer,
.gmap-canvas {
    height:200px;
    width:100%;
}

.tm-footer-right {
    text-align: right;
} */

@media (min-width: 992px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
  .mb-4 {
    font-size: 24px;
  }

  .txt-1 {
    font-size: 3vw;
    font-weight: 700;
  }

  .home-pres {
    font-size: 3vw;
    font-weight: 900;
  }
}

@media (max-width: 992px) {
  h1{
    font-size: 6vw;
  }

  .twitter img {
    width: 50px;
    height: 50px;
    margin-right: 30px;
    margin-left: 10%;
  }

  .telegram img {
    width: 50px;
    height: 50px;
  }

  .page-left,
  .page-right {
    margin-left: auto;
    margin-right: auto;
  }

  .cd-hero-slider {
    padding: 10px 0;
  }
}

@media (max-width: 834px) {
  .intro-left {
    width: 65%;
  }

  .intro-right {
    width: 35%;
  }
}

@media (max-width: 767px) {
  .tm-contact-left {
    padding-right: 15px;
    margin-bottom: 50px;
  }

  .tm-footer-right {
    text-align: left;
    margin-top: 10px;
  }

  .mb-4 {
    font-size: 24px;
  }

  .txt-1 {
    font-size: 24px;
    font-weight: 700;
  }

  .home-pres {
    font-size: 22px;
    font-weight: 900;
  }

  .img-home {
    width: 60%;
    height: auto;
    display: block;
    /* Esto evita que la imagen flote a la izquierda */
    margin: 0 auto;
    /* Centra la imagen en el eje horizontal */
  }

  .twitter img {
    width: 40px;
    height: auto;
    margin-right: 10px;

  }

  .telegram img {
    width: 40px;
    height: auto;
    margin-left: 10px;
  }
}

@media (max-width: 700px) {
  .intro-left,
  .intro-right {
    width: 100%;
  }

  .intro-left {
    margin-right: 0;
    margin-bottom: 20px;
    max-width: none;
  }

  .intro-right {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .intro-container {
    flex-direction: column;
  }

  .intro-img-1 {
    margin-right: 4%;
    margin-bottom: 25px;
    width: 90%;
  }
}

/* Preloader 
	https://ihatetomatoes.net/create-custom-preloading-screen/
*/
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  z-index: 2001;
  background: url('/img/vex_face.png') center center no-repeat; /* Establece la imagen como fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para que cubra todo el contenedor */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@keyframes spin {
  0% {
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }

  100% {
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222222;
  z-index: 2000;
  /* Chrome, Opera 15+, Safari 3.1+ */
  /* IE 9 */
  transform: translateX(0);
  /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
  /* Chrome, Opera 15+, Safari 3.1+ */
  /* IE 9 */
  transform: translateX(-100%);
  /* Firefox 16+, IE 10+, Opera */
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  /* Chrome, Opera 15+, Safari 3.1+ */
  /* IE 9 */
  transform: translateX(100%);
  /* Firefox 16+, IE 10+, Opera */
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  /* Chrome, Opera 15+, Safari 3.1+ */
  /* IE 9 */
  transform: translateY(-100%);
  /* Firefox 16+, IE 10+, Opera */
  transition: all 0.3s 1s ease-out;
}

/* JavaScript Turned Off */
.no-js #loader-wrapper {
  display: none;
}

/*============ Preloader ends ==================================*/
